<div class="card">
  <div class="card-body">
    <figure>
      <blockquote class="blockquote">
        <p><%= quote.title %></p>
      </blockquote>
      <figcaption class="blockquote-footer">
        <%= quote.author %>
      </figcaption>
    </figure>
  </div>
</div>
